{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center">Atualizar Cursos</h2>
<hr />
{%- for mensagem in get_flashed_messages() %}
    <div class="alert alert-danger">
        {{mensagem}}
    </div>
{%- endfor %}
<form class="form-control" method="post" action="{{url_for('atualiza_curso', id=curso.id)}}">
    <label>Nome</label>
    <input class="form-control" type="text" name="nome" placeholder="Nome do Curso" required value="{{curso.nome}}">
    <label>Descrição</label>
    <input class="form-control" type="text" name="descricao" placeholder="Descrição do Curso" required value="{{curso.descricao}}">
    <label>CH</label>
    <input class="form-control" type="number" name="ch" placeholder="CH do Curso" required value="{{curso.ch}}">
    <button class="btn btn-success">Atualizar</button>
</form>
{% endblock conteudo %}
