{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center">Adicionar Novo Cursos</h2>
<hr />
{%- for mensagem in get_flashed_messages() %}
    <div class="alert alert-danger">
        {{mensagem}}
    </div>
{%- endfor %}
<form class="form-control" method="post" action="{{url_for('cria_curso')}}">
    <label>Nome</label>
    <input class="form-control" type="text" name="nome" placeholder="Nome do Curso" required>
    <label>Descrição</label>
    <input class="form-control" type="text" name="descricao" placeholder="Descrição do Curso" required>
    <label>CH</label>
    <input class="form-control" type="number" name="ch" placeholder="CH do Curso" required>
    <button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}
