{% extends 'base.html' %}
{% block conteudo %}
    <h2 style="text-align: center">Diário do Professor</h2>
    <hr />
    {% for registro in registros %}
        <p>
            <a class="btn btn-secondary"
               data-bs-toggle="collapse"
               href="#collapseExample_{{registro.aluno}}"
               role="button"
               aria-expanded="false"
               aria-controls="collapseExample"
            >{{registro.aluno}}</a>
        </p>
        <div class="collapse" id="collapseExample_{{registro.aluno}}">
            <div class="card card-body">
                {{registro.nota}}
            </div>
        </div>
    {% endfor %}

    <form action="{{url_for('sobre')}}" method="post">
        <div class="form-group">
            <label>Aluno</label>
            <input type="text"
                   name="aluno"
                   class="form-control"
                   required
                   placeholder="Digite o nome do aluno"
            >
        </div>
        <div class="form-group">
            <label>Nota</label>
            <input type="text"
                   name="nota"
                   class="form-control"
                   required
                   placeholder="Digite uma nota"
            >
        </div>
        <button class="btn btn-success">Adicionar</button>
    </form>
{% endblock conteudo %}
